.wrapper-profile {
  flex: 1 1 400px;
  margin: 0;
  padding: 20px 15px;
  flex-direction: column;
}

.wrapper-profile .list {
  width: 100%;
  display: flex;
  padding: 20px 0;
  max-width: 400px;
  flex-direction: column;
}

.wrapper-profile .list-item {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: opacity 150ms ease-out;
  align-items: center;
}

.wrapper-profile .list-item:hover {
  opacity: 1;
}

.wrapper-profile .list-item > .wrapper {
  flex: 1;
  padding: 10px 0;
}

.wrapper-profile .list-item .container-image {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-sizing: content-box;
}

.wrapper-profile .list-item .container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: content-box;
  border-radius: 4px;
  object-position: top;
}

.wrapper-profile .list-item p {
  font-size: 10px;
  margin-top: 5px;
}

.wrapper-profile .list-item .container-image {
  width: 70px;
  height: 70px;
}

.wrapper-profile .list-item:hover {
  opacity: 1;
}


.wrapper-profile h2.text-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.wrapper-profile p.text-secondary {
  letter-spacing: 1.5px;
}

.wrapper-profile .texts-profile {
  display: flex;
  padding: 0 20px;
  align-self: center;
  flex-direction: column;
}

.wrapper-profile .list-item p.text-albums {
  display: flex;
  flex-wrap: nowrap;
}

.wrapper-profile h2.text-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.wrapper-profile p.text-secondary {
  letter-spacing: 1.5px;
}