.wrapper-search {
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 60px;
}

.wrapper-playlists {
  height: calc(45% - 30px);
  flex-direction: column;

}
.wrapper-profile-tracks {
  height: calc(55% - 30px);
  flex-direction: row;
}

.wrapper-tracks,
.wrapper-profile {
  margin: 0;
  padding: 0 15px;
  flex-direction: column;
}

input.input-search {
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  color: var(--white-primary);
  border: 0;
  background: none;
}

input.input-search::placeholder {
  color: var(--white-secondary);
}

input.input-search ~ label {
  color: var(--white-secondary);
  cursor: pointer;
  display: flex;
  padding-right: 15px;
  transition: color 100ms ease-in-out;
}
input.input-search ~ label:hover,
input.input-search:hover ~ label {
  color: var(--white-primary);
}

.carousel {
  padding: 20px 0;
  display: flex;
  overflow-x: auto;
}

.list {
  width: 100%;
  display: flex;
  padding: 20px 0;
  max-width: 400px;
  flex-direction: column;
}

.carousel-item {
  padding: 0 15px;
  box-sizing: content-box;
  flex-direction: column;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item > .wrapper {
  flex: 1;
  padding: 10px 0;
}

.list-item .container-image {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-sizing: content-box;
}

.carousel-item .container-image {
  padding: 0;
  margin-bottom: 10px;
  border-radius: 12px;
  box-sizing: content-box;
}

.list-item .container-image img,
.carousel-item .container-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.6;
  object-fit: cover;
  box-sizing: content-box;
  object-position: top;
  transition: transform 250ms ease-out, opacity 150ms ease-out;
}

.list-item .container-image img { border-radius: 4px; }
.carousel-item .container-image img { border-radius: 12px; } 

.list-item .container-image img:hover,
.carousel-item .container-image img:hover {
  transform: scale(1.125);
  opacity: 1;
}

.list-item p,
.carousel-item p {
  font-size: 10px;
  margin-top: 5px;
}

.wrapper-playlists .carousel-item {
  min-width: 350px;
}

.wrapper-tracks .carousel-item {
  min-width: 100px;
}

.wrapper-profile .list-item:hover,
.wrapper-tracks .carousel-item:hover {
  opacity: 1;
}

.wrapper-playlists .carousel-item .container-image {
  width: 350px;
  height: 225px;
}

.wrapper-tracks .carousel-item .container-image {
  width: 100px;
  height: 100px;
}

.wrapper-profile .list-item .container-image {
  width: 70px;
  height: 70px;
}

.wrapper-profile h2.text-title,
.wrapper-tracks h2.text-title,
.wrapper-profile h2.text-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.wrapper-profile p.text-secondary,
.wrapper-tracks p.text-secondary,
.wrapper-profile p.text-secondary {
  letter-spacing: 1.5px;
}

.texts-profile {
  display: flex;
  padding: 0 20px;
  align-self: center;
  flex-direction: column;
}

.list-item p.text-albums {
  display: flex;
  flex-wrap: nowrap;
}