@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --black-primary: #040517;
  --blue-primary: #200f56;
  --white-primary: #e5e5e5e7;
  --white-secondary: #f5f5f555;
}

* {
  margin: 0;
  padding: 0;
  outline: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to right, #0d1226 0%, #1f1734 100%);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  -o-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}

.container-app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  overflow-y: auto;
  justify-content: center;
}

/* Style global */

.text-title {
  font-size: 18px;
  color: var(--white-primary);
}

.text-primary {
  font-size: 12px;
  color: var(--white-primary);
}

.text-secondary {
  font-size: 12px;
  color: var(--white-secondary);
}

.text-hover-primary.active,
.text-hover-primary:hover {
  color: var(--white-primary);
}

.container-component {
  width: 100%;
  padding: 0 40px;
  max-width: 1440px;
}

.wrapper {
  width: 100%;
  display: flex;
  padding: 20px 0;
}

/* Scroll global */

::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #200f5612;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #200f56;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

/* END Scroll global */
